img {
  filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
}

.overlay {
  position: fixed;
  opacity: 0.15; 
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1; 
}

body {
  background: linear-gradient(45deg, #efffa8, #fff3a8, #ffcca8, #ffcc98);
	background-size: 400% 400%;
	animation: gradient 5s ease-in-out infinite;
}

.navbar
{
  background-color: #ffab5e;
  background: linear-gradient(45deg, #ffbf5e, #ffab5e, #ff995e, #ff945e);
	background-size: 400% 400%;
	animation: gradient 5s ease-in-out infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.bigtext {
  width: 50%;
  margin: 0 auto;
}

.bigtext-home {
  width: 100%;
  margin: 0;
  text-align: left;
}

.text-home {
  width: 800px;
}


.video-container {
  position: relative;
  width: 90vw; 
  max-width: 1200px; 
}

@media screen and (max-width: 1200px) {
  .bigtext {
    width: 90%;
  }
  .video-text-row {
    flex-direction: column;
    align-items: start;
  }
  .bigtext-home {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top:5%;
  }
  .text-home {
    width:80vw;
  }
  .video-container {
    width: 80vw;  
  }
}

.aspect-ratio {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; 
}

.video-text-row {
  display: flex;
  align-items: start;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  gap: 3%;
}

.aspect-ratio iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
}

@font-face {
    font-family: shibwritingregular;
    src: url('../font/shibwriting3-regular-webfont.woff2') format('woff2'),
         url('../font/shibwriting3-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: shibwritingBOLD;
  src: url('../font/shibwriting3-regular-webfont.woff2') format('woff2'),
       url('../font/shibwriting3-regular-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

.imgLink {
  font-family: shibwritingregular;
  font-size: 175%;
}

.imgtooltip {
  position: relative;
}

.imgtooltip .imgtooltiptext {
  pointer-events: none;
  font-family: shibwritingregular;
  font-size: 100%;
  width: 220px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  text-align: center;
  border-radius: 15px;
  padding: 6px;
  position: absolute;
  z-index: 1;
  bottom: 450%;
  left: 45%;
  margin-left: -90px;

  opacity: 0;
  transition: 
    opacity .15s,
    bottom .2s;
}

.imgtooltip:hover .imgtooltiptext {
  visibility: visible;
  opacity: 1;
  bottom: 450%;
}

.imgtooltip:not(:hover) .imgtooltiptext {
  opacity: 0;
  bottom: 350%;
}

.imgtooltip.bottom1 .imgtooltiptext {
  bottom: 150%;
  margin-left: -95px;
  font-size: 75%;
  transition: 
    opacity .15s,
    bottom .2s;
}

.bottom1:hover .imgtooltiptext {
  visibility: visible;
  opacity: 1;
  bottom: 200%;
}

.bottom1:not(:hover) .imgtooltiptext {
  opacity: 0;
  bottom: 100%;
}

.copytxtClicked {
  position: relative;
  -webkit-animation: moving 1s;
  animation: moving 1s forwards, opacity 1s ease-out forwards;
}


p, .nav-item {
  font-family: shibwritingregular;
  font-size: max(250%, 2.25vmax);
  text-align: center;
  z-index: 2;
}

h1 {
  font-family: shibwritingBOLD;
  font-size: 550%;
  text-align: center;
  margin-top: 3rem;
}

h2 {
  font-family: shibwritingBOLD;
  font-size: max(250%, 3vmax);
}

.align-left {
  font-family: shibwritingBOLD;
  text-align: left;
}

.align-center {
  text-align: center;
}

.photo-center {
  display: inline; margin-left: auto; margin-right: auto;
}

.photo-thumbnail {
  display: inline;
  margin-left: 0.5%; margin-right: 0.5%;
  border: 10px solid black;
  border-radius: 20%;
}

.nav-item {
  padding: 0em 0.2em 0em 0.2em;
  transition: .2s cubic-bezier(1,1.85,0,1.59);
}

.nav-item:hover {
  transform: scale(1.1);
}

p, h2, h3, h4, h5, h6 {
  padding-left: 0.3em;
  padding-right: 0.3em;
  margin-left: 1%;
}

h2 {
  text-decoration: underline;
  text-underline-offset: -0.02rem;
}

p {
  margin-left: 1.5%;
  margin-top: -1rem;
}

@keyframes wiggle {
  0% { top: 0px;  }
 25% { top: 20px; }
 50% { top: -20px; ; }
 75% { top: 0px;  }
100% { top: 0px;  }
}

.no-padding {
  padding: 0em;
}

.wrapper {
  min-height: calc(100vh - 60px);
  padding-bottom: 50px;
}

.footer {
  height: 5%;
}


.photo-thumbnail, .photo-center {
  transition: .2s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.photo-thumbnail {
  width: 15%;
}
.photo-center {
  width: 12%;
}

.photo-thumbnail:hover {
  transform: scale(1.1);
}
.photo-center:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1200px) {
  .footer {
    height: 120px;
  } 
  .photo-thumbnail {
    border: 6px solid black;
    min-width: 20vw;
  }
  .photo-center {
    min-width: 200px;
  }
}

@media screen and (max-width: 800px) {
  .photo-thumbnail {
    border: 4px solid black;
    min-width: 30vw;
  }
  h1 {
    font-size: 350%;
  }
}

@keyframes wobb {
  0%, 100% {transform: translate(0%, 0%) rotate(0deg);}
  25% {transform: translate(0, -3%) rotate(3deg);}
  50% {transform: translate(3%, 3%) rotate(-3deg);}
  75% {transform: translate(-3%, -3%) rotate(0deg);}
}

.wobble span {
  animation-name: wobb;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 3500ms;
  display: inline-block;
  transform: translate(0) rotate(0);
}

@keyframes shib {
  0%, 50%, 100% {transform: translate(0%, 0%) rotate(5deg);}
  25%, 75% {transform: translate(0%, 0%) rotate(-5deg);}
}

#shibarotate {
  animation-name: shib;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 2500ms;
  display: inline-block;
  transform: translate(0) rotate(0);
}

html, body { 
  max-width: 100%;
  overflow-x:hidden; 
}
